<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<% if signed_in?  %>
  <%= render 'form', tweet: @tweet %> 
<% end  %>

<% @tweets.reverse.each do |tweet| %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= tweet.avatar %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
         <p class="card-text"><%= tweet.tw_content %></p>
          <p class="card-text">
            <small class="text-muted">
              <%= link_to time_ago_in_words(tweet.created_at), tweet %> ago
              <% if signed_in? && tweet.user == current_user %>
                <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge bg-primary" %>
              <% end %>
              </small>
            </p>
        </div>
      </div>
    </div>
  </div>
<% end %>