<div class="container">
  <h1>Tweets</h1>
  <% if signed_in?  %>
    <%= render 'form', tweet: @tweet %> 
  <% end  %>

  <div class="container">

    <div class="row row-cols-1 g-1">

      <% @tweets.reverse.each do |tweet| %>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= tweet.avatar %>" class="img-fluid rounded">
              </div>

              <div class="col-md-8">

                <div class="card-body">
                 <p class="card-text"><%= tweet.tw_content %></p>
                  <p class="card-text">
                    <%= tweet.counting_likes %> <%= (tweet.counting_likes) == 1 ? 'Like' : 'Likes'%> |
                    <% if signed_in? %>
                      <% if like_check(tweet, current_user) %>
                        <%= link_to tweet_like_path(tweet, like_check(tweet,current_user)), method: :delete do %>
                          <i class="far fa-heart fa-xs"></i>
                        <% end %>
                      <% else %>
                        <%= link_to tweet_likes_path(tweet), method: :post do %>
                          <i class="fas fa-heart fa-xs"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                      <%= link_to time_ago_in_words(tweet.created_at), tweet %> ago
                        <% if signed_in? && tweet.user == current_user %>
                          <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge bg-primary" %>
                        <% end %>
                    </small>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>