<div class="container">
  <h1><%= @user.user_name %>'s Tweets</h1>

  <div class="container">
    <section id="all-links">
      <% if signed_in? && current_user != nil  %>
        <% if @user.id == current_user.id %>
            <%= button_to 'Cierra sesión', destroy_user_session_path, method: :delete, class: "btn btn-info btn-sm" %>
        <% elsif current_user.following_friends.include?(@user) %>
            <h5><%= button_to "Unfollow", unfriended_user_path, method: "POST", class: "btn btn-info btn-sm" %></h5>
        <% else %>
            <h5><%= button_to "Follow", friended_user_path, method: "POST", class: "btn btn-info btn-sm" %></h5>
        <% end%>
      <% end%>
      <br>
      <div class="container pb-3">
        Tweets: <%= @tweets.count %> | Followers: <%= @user.follower_friends.count %> | Following: <%= @user.following_friends.count %>
      </div>
    </section>

    <%= render 'shared/timeline' %> 
  </div>
</div>